<div class="row">
        <div class="col-12">
            <div class="card mb-5" >
                <div class="card-header bg-success text-light">Meet Admin</div>

                <div class="card-body">
                    <div class="card-text">Meet Status</div>
                    <div class="card-group mb-3 text-center">
                        <div class="card bg-dark text-secondary" >
                            <div class="card-body">Set up<br>Meet <i class="arrow right"></i></div>
                        </div>

                        <div class="card bg-warning text-dark">
                            <div class="card-body align-items-center">Accepting<br>Entries  <i class="arrow right"></i></div>
                        </div>

                        <div class="card bg-dark text-secondary" >
                            <div class="card-body">Entries<br>Closed & Resolve Issues <i class="arrow right"></i></div>
                        </div>

                        <div class="card bg-dark text-secondary" >
                            <div class="card-body">Athletes<br>Assigned  <i class="arrow right"></i></div>
                        </div>

                        <div class="card bg-dark text-secondary" >
                            <div class="card-body">In<br>Progress <i class="arrow right"></i></div>
                        </div>

                        <div class="card bg-dark text-secondary" >
                            <div class="card-body">Meet<br>Completed</div>
                        </div>
                    </div>
                    <div class="card-text">
                        <div>Do Stuff:</div>
                        <button type="button" class="btn btn-primary">Edit Meet Settings</button>
                        <button type="button" class="btn btn-primary">Close Entries</button>
                        <button type="button" class="btn btn-primary">Invite Schools</button>
                        <button type="button" class="btn btn-primary">See Problems with Entries</button>
                    </div>                       
                </div>
            </div>
        </div>
    </div>