{# Meet List #}

{# <ul>
{% for meet in list %}
  <li>
    <a href="/meets/{{ meet.id }}">
        {{ meet.name }}
    </a>
  </li>
{% endfor %}
</ul>
 #}

<div class="row mb-5">
  <div class="col">
    <table id="meet_table" class="display" data-order='[[ 1, "asc" ]]' data-paging='false'>
        <thead>
            <tr>
                <th>Meet Name</th>
                <th>Date</th>
                <th>Host School</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for meet in list %}
                <tr>    
                    <td>
                        <a href="{{ url_for('show_meet_detail', meet_id=meet.id) }}">
                            {{ meet['name'] }}
                        </a>
                    </td>
                    <td data-order="{{ meet.date }}">
                        {{ meet.date.strftime("%B %d, %Y") }}
                    </td>
                    <td>
                        {% if meet['host_school'] %}
                            {{ meet.host_school.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if meet.status == 'Accepting Entries' %}
                            <a href="{{ url_for('show_enter_meet_form', meet_id=meet.id) }}">
                                <button type="button" class="btn btn-warning">
                                   Accepting Entries
                                </button>
                            </a>
                        {% else %}
                            {{ meet.status }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>