{% macro show_tab(TABID, ACTIVE) %}

{# id, href, aria-controls values all change based on the NAME.#}
{# derives name of tab-content block from the Tab ID #}
    <li class="nav-item">
        <a class="nav-link active tms-tab" id="tms-tab1" data-toggle="tab" role="tab" href="#tms-tab1-content" aria-controls="tms-tab1-content" aria-select="true">
            {% block tab1_name %}
                PLACEHOLDER 
            {% endblock tab1_name %}
        </a>
    </li>

{% endmacro %}



{% macro SHOWTABCONTENT TAB_ID SHOW_OR_NO%}
{# changes id, area-labelled-by #}
{# Use the name of the TAB, not the tab body, as the parameter #}
  <div id="tms-tab1-content" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tms-tab1">
      {% block tab1_content %}
          PLACEHOLDER
      {% endblock tab1_content %}
  </div>
{% endmacros %}