{% extends "__base.html.j2" %}


{% block content %}
  <h1>Athletes</h1>
  {% include '/athletes/athlete_list.include.html.j2' %}
{% endblock content %}


{% block my_javascripts %}
  {{ super() }}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="static/js/tms-datatable.js"></script>
{% endblock my_javascripts %}

