{% extends "__base.html.j2" %}
{% from "/athletes/_macro_athlete_list.html.j2" import MACRO_ATHLETE_LIST %}

{% block content %}
  <h1>Athletes</h1>
  {{ MACRO_ATHLETE_LIST(athletes, "athlete_list")}}
{% endblock content %}


{% block my_javascripts %}
  {{ super() }}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/tms-datatable.js')}}">
  </script>
{% endblock my_javascripts %}

