{% macro MACRO_MAKE_TAB(TAB_ID, ACTIVE, TAB_NAME) %}
{# tab}
{# id, href, aria-controls values all change based on the NAME.#}
{# derives name of tab-content block from the Tab ID #}
  <li class="nav-item">
    <a class="nav-link tms-tab {% if ACTIVE %}active{% endif %}"
    id="{{TAB_ID}}" data-toggle="tab" role="tab"
    href="#{{ TAB_ID }}-content"
    aria-controls="{{ TAB_ID }}-content"
    aria-select="{% if ACTIVE %}true{% else %}false{% endif %}">
      {{ TAB_NAME }}
    </a>
  </li>
{% endmacro %}


{% macro MACRO_MAKE_TAB_CONTENT(TAB_ID, ACTIVE, TAB_CONTENT_FILE) %}
{# changes id, area-labelled-by #}
{# Use the name of the TAB, not the tab body, as the parameter #}
  <div id="{{ TAB_ID }}-content"
  class="tab-pane fade {% if ACTIVE %}show active{% endif %}"
  role="tabpanel" aria-labelledby="{{ TAB_ID }}">
    {% if TAB_CONTENT_FILE is defined %}
      {% include TAB_CONTENT_FILE %}
    {% endif %}
    {{ caller() }}
  </div>
{% endmacro %}



{% macro SHOW_MY_SCHOOL_INDICATOR(school) %}
  {% if school.id == session.user_school_id %}
  <div class="row mb-3">
    <div class="card bg-warning col-12">
      <h4 class="text-md-center mb-0 p-1">Managed by {{ school.name }}</h4>
    </div>
  </div>
  {% endif %}
{% endmacro %}



{% macro MACRO_SHOW_EVENTS_CARD(meet, ev_type, event) %}
  <div class="card">
    <a class="card-header btn btn-link tms-link " id="{{ event.name }}"
        data-toggle="collapse" data-target="#collapse{{event.code}}" 
        aria-expanded="true" aria-controls="collapse{{event.code}}">
      <div class="d-flex flex-row">
        <div class="d-flex flex-fill">
          {% if meet.event_is_oversubscribed(event) %}
            <i class="fas fa-exclamation-triangle text-danger fa-lg"></i>
          {% elif meet.status == "Accepting Entries" %}
            <i class="fas fa-clock text-primary fa-lg"></i>            
          {% elif meet.get_event_heat_count_across_divs(event) == 0 %}
            <i class="fas fa-times-circle text-warning fa-lg"></i>  
          {% else %}
            <i class="fas fa-user-check text-info fa-lg"></i>     
          {% endif %}     
        </div>

        <div class="d-flex flex-fill tms-event-title">{{ event.name }}</div>
        <div class="d-flex flex-fill">
          {{ meet.get_event_athlete_count_across_divs(event) }} athletes,
          {{ meet.get_event_heat_count_across_divs(event) }} heats
        </div>
      </div>
    </a>
    <div id="collapse{{event.code}}" class="collapse" aria-labelledby="{{event.code}}" data-parent="#{{ ev_type }}-event-accordion">
      {# <div class="card-body"> #}
        <ul class="list-group card-body">
          {% for mde in meet.get_event_mdes(event) %}
            {% set num_entries = mde.entries|length %}

            {% if num_entries > mde.get_max_athletes() %}
              {% set oversubscribed = true %}
            {% else %}
              {% set oversubscribed = false %}
            {% endif %}

            <a class ="list-group-item list-group-item-action d-flex d-flex-row" 
                href="{{url_for('show_mde_detail', meet_id=meet.id, mde_id=mde.id)}}">
                {# <li class="d-flex list-group-item justify-content-between align-items-center"> #}
                  <div class="d-flex flex-fill p-1">
                    {% if oversubscribed %}
                      <i class="fas fa-exclamation-triangle fa-lg text-danger"></i>
                    {% elif mde.status == "Unassigned" %}
                      <i class="fas fa-clock text-primary fa-lg"></i>
                    {% elif mde.status == "Assigned" and num_entries == 0 %}
                        <i class="fas fa-times-circle fa-lg text-warning"></i>   
                    {% else %}                   
                        <i class="fas fa-user-check fa-lg text-info"></i>
                    {% endif %}
                  </div>
                  <div class=" d-flex flex-fill tms-link">
                    {{ mde.division.name }}
                  </div>
                  <div class="d-flex flex-fill p-1 flex-column">
                    <span class="d-flex p-1">
                      {{ num_entries}} entries for {{mde.get_max_athletes() }} slots
                    </span>
                    {% if mde.status == "Assigned" %}
                      <span class="d-flex p-1">
                        Assigned: {{ mde.get_num_assignments() }}
                      </span>
                      {% if oversubscribed %}
                        <span class="d-flex p-1">
                          Unassigned: {{ num_entries - mde.get_num_assignments() }}
                        </span>
                      {% endif %}
                    {% endif %}
                  </div>
            </a>
          {% endfor %}
        </ul>
    </div>
  </div>
{% endmacro %}


{% macro MACRO_step_tab_icons(id_str, step_name, icon_str, active) %}
  <li role="presentation" class="nav-item">
    <a href="#{{id_str}}" data-toggle="tab" aria-controls="{{id_str}}" role="tab" title="{{step_name}}" class="nav-link {% if active %}active{% else %}disabled{% endif %}">
      <span class="round-tab">
        <i class="{{icon_str}}"></i>
      </span>
    </a>
  </li>
{% endmacro %}

{% macro MACRO_step_tab_content(id_str, step_name, first, last, active) %}
  <div class="tab-pane {% if active %}active{% endif %}" role="tabpanel" id="{{id_str}}">
    <h1 class="text-md-center">{{ step_name }}</h1>
      <div class="row">
        <div class="col">
          {# When calling this macro using call(), whatever you place inside the "%call black ends up here #}
          {{ caller() }} 
        </div>
      </div>
      <ul class="list-inline text-md-center">
          {% if not first %}
            <li><button type="button" class="btn btn-secondary prev-step prev-button">Prev Step &lt;&lt;</button></li>
          {% endif %}
          {% if not last %}
            <li>
              <button type="button" class="btn btn-secondary next-step next-button">Next Step &gt;&gt;</button>
            </li>
          {% endif %}
      </ul>
  </div>
{% endmacro %}