{% macro MACRO_PRIMARY_NAV(selected_menuitem) %}
  {# TODO - handle selecting the active tab in the navbar #}
  <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark mb-0 ml-2">
    <a class="navbar-brand" href="{{ url_for('index') }}">TrackMeetSimplicity</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('show_school_detail', school_id=session.user_school_id) }}">
            {{session.user_school_name}} Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('show_all_meets') }}">Meets</a>
        </li>
        {# <li class="nav-item dropdown"> #}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('show_all_schools') }}">Schools</a></li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('show_all_athletes') }}">Athletes</a></li>
        </li>
{#         <li class="nav-item">
          <a class="nav-link disabled" href="#">Divisions</a></li>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Events</a></li>
        </li> #}

      </ul>
      <!-- The right-most profile menu -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarUserMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ session.user_email }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarUserMenuLink">
            <a class="dropdown-item" href="{{ url_for('show_user_profile') }}">Profile</a>
            <a class="dropdown-item" href="{{ url_for('do_logout') }} ">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

{% endmacro %}