{% extends "base.html.j2" %}


{% block content %}
    <h1>Athletes</h1>
    {% block athlete_list %}
        <table id="athlete_table" class="display" data-order='[[ 0, "asc" ]]' data-page-length='100'>
            <thead>
                <tr>
                    <th>Athlete name</th>
                    <th>School</th>
                    <th>Division</th>
                    <th>Events</th>
                </tr>
            </thead>
            <tbody>
                {% for athlete in list %}
                    <tr>    
                        <td>
                            <a href="/athletes/{{ athlete.id }}">
                                {{ athlete.fname }} {{ athlete.lname }}
                            </a>
                        </td>
                        <td>{{ athlete.school.name }}</td>
                        <td>{{ athlete.division.longname() }}</td>
                        <td>TBD</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}

{% endblock %}


{% block my_javascripts %}
   <script type="text/javascript" src="static/js/tms-datatable.js"></script>

{% endblock %}

