{# Detail info about a particular athlete, at /athletes/<athlete-id> #}

{% extends "secondary_nav.html.j2" %}


{% block secondary_nav_title %}
    {{ athlete.fname }} {{ athlete.lname }}
{% endblock secondary_nav_title %}

{% block athlete_admin_url %}
    href="{{ url_for('')}}athlete.id }}/admin"
{% endblock athlete_admin_url %}>

{% block nav2_subtitle %}
  <div class="d-flex justify-content-md-between flex-wrap">
    <div>Division: {{ athlete.division.name }}</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div>
      School: 
      <a href="/schools/{{athlete.school.id}}">
        {{ athlete.school.name }}
      </a>
    </div>
  </div>
{% endblock nav2_subtitle %}



{% block tab1_name %}
    Upcoming Meets
{% endblock tab1_name %}

{% block tab2_name %}
    Past Meets
{% endblock tab2_name %}

 {% block tab3_name %}
    Events
{% endblock tab3_name %}
 
{% block tab4_name %}
    Athlete Profile
{% endblock tab4_name %}

{% block tab1_content %}
    <p>This lists the upcoming Meets the athlete is entered into</p>
    <ul>
      {% for meet in athlete.meets() %}
        <li>
          <a href="{{ url_for('show_meet_detail', meet_id=meet.id) }}">
            {{meet.name}}
          </a>
          {{meet.date}}
        </li>
      {% endfor %}
    </ul>
{% endblock tab1_content %}
                        


{# The expandable event cards that are on the accordions on   #}
{# MeetDetail > Schedule of events  #}
{% block tab2_content %}
  <p> This lists the Athlete's results at past meets.</p>
{% endblock tab2_content %} 


{% block tab3_content %}
    <p>This lists the athletes performances by Event, sorted for either the 
    best mark or by date.</p>

    <ul>
      {% for entry in athlete.entries %}
        <li>
          <a href="{{ url_for('show_mde_detail', meet_id=entry.mde.meet.id, 
                              mde_id=entry.mde.id) }}">
            {{ entry.event.name }}
          </a>
          <a href="{{ url_for('show_mde_detail', meet_id=entry.mde.meet.id, 
                              mde_id=entry.mde.id) }}">
            {{ entry.division.name }}
          </a>
          ==
          <a href="{{ url_for('show_meet_detail', meet_id=entry.mde.meet.id) }}">
            {{ entry.mde.meet.name }}
          </a>
          == Seed Mark: {{ entry.mark_to_string() }}
        </li>
      {% endfor %}
    </ul>
{% endblock tab3_content %}
              

{% block tab4_content %}
    <p>On this tab, users can see other the details about this athlete, such 
      as phone number, previous schools, etc.  In real life, this would not be 
      viewable except by the coach and athlete.
    </p>
{% endblock tab4_content %}

