{% extends "base.html.j2" %}


{% block content %}
    <h1>Dashboard</h1>
    <h2>Welcome, user {{session['user_email']}}</h2>
    <ul>
        <li><a href="#">Create a New Meet</a></li>
        <li><a href="#">Manage my Track Meet</a></li>
        <li><a href="#">Find a Track Meet</a></li>
    </ul>
{% endblock %}
