{% extends "base.html.j2" %}
{% block content %}
  <h1>Meets</h1>
  <ul>
    {% for meet in list %}
      <li>
        <a href="/meets/{{ meet.id }}">
            {{ meet.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}

{% block my_javascripts %}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
{% endblock %}