{% extends "base.html.j2" %}


{% block content %}
    <h1>User Profile: {{ session['user_email'] }}</h1>

    <form action="{{ url_for('do_change_profile')}}", method="POST">

      <div class="form-group">
          <label for="school">School:</label>
          <select class="form-control" name="school_id">
              <option value="0">
                My school isn't listed
              </option>
              {% for school in school_list %}
                {% if school.id == session['user_school_id'] %}
                  <option value="{{school.id}}" selected="selected">
                {% else %}
                  <option value="{{school.id}}">
                {% endif %}
                    {{school.name}}
                  </option>
              {% endfor %}
          </select>
      </div>
      <div class="form-group">
          <label for="name">Email:</label>
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter your email" value={{ session.user_email }}>
          <small id="emailHelp" class="form-text text-muted">
          </small>
      </div>
      <div class="form-group">
          <label for="name">Password:</label>
          <input type="password" class="form-control" name="password" placeholder="Password" />
      </div>
      <button type="submit" class="btn btn-primary">
        Update My Profile
      </button>
    </form>



{% endblock %}
