{% extends "base.html.j2" %}


{% block content %}
    <h1>Schools</h1>
    <table id="school_table" class="display" data-order='[[ 0, "asc" ]]' data-page-length='100'>
        <thead>
            <tr>
                <th>School Name</th>
                <th>Code</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
            {% for school in list %}
                <tr>    
                    <td>
                        <a href="/schools/{{ school.id }}">
                            {{ school['name'] }}
                        </a>
                    </td>
                    <td>{{ school['abbrev']}}</td>
                    <td>
                        {% if school['city'] %}
                            {{ school.city }}
                        {% endif %}
                    </td>
                    <td>
                        {% if school['state'] %}
                            {{ school.state }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block my_javascripts %}
   <script type="text/javascript" src="static/js/tms-datatable.js"></script>

{% endblock %}

