{% extends "base.html.j2" %}


{% block content %}
    <h1>{{school.name}}</h1>
    <h4 class="mb-4">Code: {{ school.abbrev }}</h4>

    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white">Meets</div>
                <div class="card-body "></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white">Athletes</div>
                <div class="card-body"></div>
            </div>
        </div>
    </div>
   
{% endblock content %}



{% block my_javascripts %}
  <script type="text/javascript" src="/static/js/tms-datatable.js"></script>
{% endblock my_javascripts %}