{% extends "secondary_nav.html.j2" %}

{% block secondary_nav_title %}
    {{ school.name }}
{% endblock secondary_nav_title %}

{% block school_admin_url %}
    href="{{ url_for('edit_school_detail') }}"
{% endblock school_admin_url %}>

{% block nav2_subtitle %}
    <div class="d-flex justify-content-md-between flex-wrap">
        <div>
            Code: {{ school.code }} 
        </div>

    <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>

    <div>Divisions: 
        {% for division in school.divisions %}
            {{ division.code }},
        {% endfor %}
    </div>
{% endblock nav2_subtitle %}



{% block tab1_name %}
    Meets Hosted
{% endblock tab1_name %}

{% block tab2_name %}
    Meets Entered
{% endblock tab2_name %}

 {% block tab3_name %}
    Athletes
{% endblock tab3_name %}
 
{% block tab4_name %}
    School Detail
{% endblock tab4_name %}


{% block tab1_content %}
    {% if school.meets_hosted %}
        <p>Meets this school is hosting</p>
        {% set list = school.meets_hosted %}
{#         {% for meet in list %}
            <a href="{{ url_for('show_meet_detail', meet_id=meet.id) }}">
                {{ meet.name }}
            </a>
        {% endfor %} #}

        {% include 'template-includes/meet_list.include.html.j2' %}
    {% else %}
        <p>We didn't find any meets hosted by this school.</p>
    {% endif %}
{% endblock tab1_content %}
                        

{% block tab2_content %}
    {# <p>Meets this schools has entered</p> #}
    {# {% for meet in school.meets() %} #}
        {# <a href="{{ url_for('show_meet_detail', meet_id=meet.id) }}"> #}
            {# {{ meet.name }} #}
        {# </a> #}
    {# {% endfor %} #}

    {% if school.meets_entered() %}
        <p>Meets this school has entered</p>
        {% set list = school.meets_entered() %}
  {#       {% for meet in list %}
            <a href="{{ url_for('show_meet_detail', meet_id=meet.id) }}">
                {{ meet.name }}
            </a>
        {% endfor %} #}

        {% include 'template-includes/meet_list.include.html.j2' %}
    {% else %}
        <p>We didn't find any meets entered this school.</p>
    {% endif %}
{% endblock tab2_content %} 


{% block tab3_content %}
    <p>Our school's athletes, sortable and filterable by event, gender, division </p>
    <ul>
        {% for athlete in school.athletes %}
            <li>
                <a href="{{ url_for('show_athlete_detail', athlete_id=athlete.id) }}">
                    {{ athlete.full_name() }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock tab3_content %}
              

{% block tab4_content %}
    <p>School Detail here
    </p>
{% endblock tab4_content %}


{% block my_javascripts %}
   <script type="text/javascript" src="/static/js/tms-datatable.js"></script>
{% endblock %}

