{% macro MEET_LIST(meets, school, meet_status, meet_table_id, show_actions) %}

{# We need school here in order to reduce the show how many entries & athletes 
   in each meet are from my school. If we are not looking for a school with a particular meet_status, give it null #}

{# HACK to fix: action parameter can be "Edit Entries", "Manage Meet", "Enter Meet" or none #}
<div class="row mb-5">
  <div class="col">
    <table id="{{meet_table_id}}" class="display" data-order='[[ 1, "asc" ]]' data-paging='false'>
      <thead>
        <tr>
          <th>Meet Name</th>
          <th>Date</th>
          <th>Host School</th>
          <th>Status</th>
          <th class="text-center">Total #<br>Athletes</th>
          {% if school %}
            <th class="text-center">{{ school.code }}<br>Athletes</th>
          {% endif %}
          <th class="text-center">Total # Entries</th>
          {% if show_actions %}
            <th class="text-center">Actions</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for meet in meets %}
          {% if meet_status=="All" or meet.status == meet_status %}
            <tr>
              <td class="align-top">
                <a href="{{ url_for('show_meet_detail', meet_id=meet.id) }}">
                  {{ meet['name'] }}
                </a>
              </td>
              <td class="align-top" data-order="{{ meet.date }}">
                {{ meet.date.strftime("%B %d, %Y") }}
              </td>
              <td class="align-top">
                {% if meet['host_school'] %}
                  <a href="{{url_for('show_school_detail', school_id=meet.host_school.id) }}">
                    {{ meet.host_school.name }}
                  </a>
                {% endif %}
              </td>
              <td class="align-top">
                {% if meet.status == "Accepting Entries" %}
                  <i class="fas fa-vote-yea text-warning"></i>
                {% elif meet.status == "Assignments Pending" %}
                  <i class="fas fa-user-clock text-info"></i>
                {% elif meet.status == "Assignments Done" %}
                  <i class="fas fa-user-check"></i>
                {% elif meet.status == "Unpublished" %}
                  <i class="far fa-eye-slash text-black-50"></i>
                {% endif %}
                {{ meet.status }}

              </td>
              <td class="align-top text-center">
                {{ meet.get_athletes() | length }}
              </td>
              {% if school %}
                <td class="align-top text-center">
                  {{ meet.get_athletes(school_id=school.id) | length }}
                </td>
              {% endif %}
              <td class="align-top text-center">
                {{ meet.entries | length }}
              </td>


              {% if show_actions %}
                <td class="align-top">
                  {% set myschool_id=session.get('user_school_id') %}
                  {% if meet.host_school.id == myschool_id %}
                    <a href="{{ url_for('show_meet_detail', meet_id=meet.id) }}"
                        class="btn btn-primary tms-meet-btn d-flex justify-content-between">
                        <i class="fas fa-bullhorn"></i>
                        <div>&nbsp;Manage Meet</div>
                    </a>
                  {% elif meet.school_is_entered(myschool_id) and meet.status == "Accepting Entries" %}

                    <a href="{{ url_for('show_meet_entries', meet_id=meet.id, school_id=myschool_id ) }}" 
                      class="btn btn-secondary tms-meet-btn d-flex justify-content-between">
                        <i class="fas fa-clipboard-list"></i>&nbsp;&nbsp;Review My Entries
                    </a>

                  {% elif meet.status == 'Accepting Entries' %}
                    <a href="{{ 
                      url_for('show_enter_meet_upload_form', meet_id=meet.id) }}" 
                      class="btn btn-warning tms-meet-btn d-flex justify-content-between">
                        <i class="fas fa-vote-yea"></i>&nbsp;&nbsp;Enter Meet
                    </a>
                  {% endif %}



                </td>
              {% endif %}
            </tr>
          {% endif %}
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
{% endmacro %}