{% extends "__base.html.j2" %}
{% from "/meets/_macro_meet_list.html.j2" import MEET_LIST %}

{% block content %}


  <div class="row">
    <h1 class="col">Meets</h1>
    <div class="col">
      <a href="{{url_for('show_new_meet_form')}}">
        <button class="btn-warning btn">
         <i class="fas fa-plus-circle"></i>
         Create New Meet
        </button>
      </a>
    </div>
    <div class="col">
      <a href="{{url_for('show_all_meets')}}">
        <button class="btn-success btn">
         <i class="fas fa-search"></i>
         Find Meets to Enter
        </button>
      </a>
    </div>
  </div>

  {{ MEET_LIST(meets, none, "All", "all-meets-list") }}

{% endblock content %}


{% block my_javascripts %}
  {{ super() }}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="static/js/meet-datatable.js"></script>
{% endblock my_javascripts %}


