{% extends "__tabnav.html.j2" %}
{# Detail info about a particular MDE within a meet, at /meets/<meet-id>/mde/<mde-id> #}

{% from "__macros.html.j2" import MACRO_MAKE_TAB, MACRO_MAKE_TAB_CONTENT with context %}
{% from "__macros.html.j2" import SHOW_MY_SCHOOL_INDICATOR %}

{% set num_entries = mde.entries | length %}

{% if mde.max_heats %}
  {% set heats = mde.max_heats %}
{% else %}
  {% set heats = mde.meet.max_heats_per_mde %}
{% endif %}

{% set max_athletes = mde.event.max_per_heat * heats %} 


{% block myschool_indicator %}
  {{SHOW_MY_SCHOOL_INDICATOR(mde.meet.host_school)}}
{% endblock %}

{% block secondary_nav_title %}
  Event #{{mde.seq_num}}: {{ mde.event.name }}: {{ mde.division.name }}
{% endblock secondary_nav_title %}

{% block nav2_admin_url %}
    href="{{url_for('show_mde_edit_form', meet_id=mde.meet.id, mde_id=mde.id)}}"
{% endblock nav2_admin_url %}>

{% block nav2_subtitle %}

  <a href="{{ url_for('show_meet_detail', meet_id=mde.meet.id) }}">
    {{ mde.meet.name }}
  </a>

  {{ mde.meet.date.strftime("%B %d, %Y") }}
    <p>Status: {{mde.status}}<br>
    Maximum Heats: {{  heats }}, 
    Maximum Athletes Per Heat: {{ mde.event.max_per_heat }}<br>
    Max Athletes Allowed:   {{ max_athletes }}<br>
    Num Athletes Entered: {{ num_entries}}<br>
    % Full: {{ num_entries * 100 / max_athletes }}%
  </p>

{% endblock nav2_subtitle %}

{% block tab_navs %}
    {{ MACRO_MAKE_TAB("mde-entries-tab", true, "Entries") }}
    {{ MACRO_MAKE_TAB("mde-assign-tab", false, "Assignments") }}
    {{ MACRO_MAKE_TAB("mde-results-tab", false, "Results") }}
    {{ MACRO_MAKE_TAB("mde-settings-tab", false, "Settings") }}
{% endblock tab_navs %} 

{% block tab_content %}
  {% call MACRO_MAKE_TAB_CONTENT("mde-entries-tab", true) %}
{#     <div class="card">
      <div class="card-body"> #}
        <button class="btn btn-warning btn-large id="mde-assign-button">
          Make Athlete Assignments
        </button>

        {% if mde.event.is_track() %}
          <table id="mde_table" class="display" data-paging='false'
            data-order='[[ 3, "asc" ]]' >
        {% else %}
          <table id="mde_table" class="display" data-paging='false'
            data-order='[[ 3, "desc" ]]' >
        {% endif %}
            <thead>
              <tr>
                <th>Seed #<br>(pending)</th>
                <th>Athlete name</th>
                <th>School</th>
                <th>Seed Mark</th>
              </tr>
            </thead>
            <tbody>
              {% for entry in mde.entries %}
                <tr>
                  <td>TBD</td>
                  <td>
                    <a href="/athletes/{{ entry.athlete.id }}">
                      {{ entry.athlete.fname }} {{ entry.athlete.lname }}
                    </a>
                  </td>
                  <td><a href="{{url_for('show_school_detail', school_id=entry.athlete.school.id)}}">
                  {{ entry.athlete.school.name }}</a></td>
                  <td data-order="{{entry.mark}}">
                      {{ entry.mark_to_string() }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
{#         </div>
      </div> #}
  {% endcall %}

  {% call MACRO_MAKE_TAB_CONTENT("mde-assign-tab", false) %}
    No assignments yet
  {% endcall %}

  {% call MACRO_MAKE_TAB_CONTENT("mde-results-tab", false) %}
    No results yet
  {% endcall %}

  {% call MACRO_MAKE_TAB_CONTENT("mde-settings-tab", false) %}
    Status: {{ mde.status }}<br>
    Notes: {{ mde.mde_notes}}<br>
    Max Number of Heats: {{ heats }}<br>
    Overall Meet Setting: Max # Heats Allowed: {{mde.meet.max_heats_per_mde}}<br>
    MDE Override: Maximum # of Heats Allowed: {{ mde.max_heats }}<br>
    Maximum Athletes per Heat: {{ mde.event.max_per_heat }}<br><br>

    Maximum Athletes Allowed: 
    {% if mde.max_heats %}
      {{ mde.event.max_per_heat * mde.max_heats }} 
    {% else %}
      {{ mde.event.max_per_heat * mde.meet.max_heats_per_mde }}
    {% endif %}
    <br>
    Num Athletes Entered: {{ num_entries}}, 
  {% endcall %}

{% endblock tab_content %}
  
  {% block my_javascripts %}
    {{super()}}
    <script type="text/javascript" src="/static/js/tms-datatable.js"></script>
  {% endblock my_javascripts %}