{% extends "__tabnav.html.j2" %}
{# Detail info about a particular meet, at /meets/<meet-id> #}
{% from "__macros.html.j2" import MACRO_MAKE_TAB, MACRO_MAKE_TAB_CONTENT with context %}
{% from "__macros.html.j2" import SHOW_MY_SCHOOL_INDICATOR %}
{% from "/athletes/_macro_athlete_list.html.j2" import MACRO_ATHLETE_LIST %}

{% set schools_entered = meet.schools_entered() %}
{% set my_school_id = session['user_school_id'] %}

{% set user_is_entered = meet.school_is_entered(my_school_id) %}

{% if meet.host_school_id == my_school_id %}
  {% set user_is_hosting = true %}
{% else %}
  {% set user_is_hosting = false %}
{% endif %}

{% block myschool_indicator %}
  {{SHOW_MY_SCHOOL_INDICATOR(meet.host_school)}}
{% endblock %}


{% block secondary_nav_title %}
  {{ meet.name }}
{% endblock secondary_nav_title %}


{% block nav2_subtitle %}
  <div class="d-flex flex-row  mb-4">
    <div>{{ meet.date.strftime("%B %d, %Y") }}</div>
    <a class="ml-auto tms-link" href="{{ url_for('show_school_detail', school_id=meet.host_school.id) }}">
      Host School: {{ meet.host_school.name }}
    </a>
  </div>

  <h6 class="mb-4">
    <div class="d-sm-flex flex-row">
      <div class="bg-warning flex-fill p-3 text-center">
        <h5 class="mb-0">Status: {{ meet.status }}</h5>
      </div>
    </div>
    <div class="d-sm-flex flex-row ">
      <div class="bg-info flex-fill p-3 text-center">{{ meet.get_athletes() | length }} Athletes</div>
      <div class="bg-secondary  flex-fill p-3 text-center">{{ schools_entered | length }} Schools</div>
      <div class="bg-info  flex-fill p-3 text-center">{{ meet.divisions | length }} Divisions</div>
      <div class="bg-secondary  flex-fill p-3 text-center">{{ meet.events | length }} Events</div>
      <div class="bg-info  flex-fill p-3 text-center">{{ meet.mdes | length }} Contests</div>
      {# <div class="bg-secondary p-3 text-center"> XXX Heats</div> #}
      <div class="bg-secondary  flex-fill p-3 text-center">{{ meet.entries | length }} Entries</div>
    </div>
  </h6>

  <div class="d-md-flex flex-row">
    <div class="mr-auto">
      {% if user_is_entered %}
        <a href="{{url_for('show_meet_entries', meet_id=meet.id, school_id=my_school_id) }}">
          <button class="btn btn-warning  btn-lg mb-1 mr-1">
            Review My Meet Entries
          </button>
        </a>
      {% else %}
        <a href="{{ url_for('show_enter_meet_upload_form', meet_id=meet.id) }}">
          <button class="btn btn-warning tms-meet-btn btn-lg mb-1 mr-1">Enter Meet</button>
        </a>
      {% endif %}
    </div>
    <div>
      {% if user_is_hosting %}
        <a href="{{url_for('show_edit_meet_form', meet_id=meet.id) }}">
          <button class="btn btn-success btn-lg mb-1">Edit Meet Settings</button>
        </a>
        <a href="{{url_for('do_meet_assignment_all_mdes', meet_id=meet.id) }}">
          <button class="btn btn-success btn-lg mb-1">Assign Athletes</button>
        </a>
        <a href="{{url_for('show_meet_entries', meet_id=meet.id) }}">
          <button class="btn btn-success btn-lg mb-1">Review All Meet Entries</button>
        </a>
        <a href="#"> 
          <button class="btn btn-success btn-lg mb-1">
            Change Meet Status <i class="fas fa-caret-down"></i>
          </button>
        </a>
      {% endif %}
    </div>
  </div>
{% endblock nav2_subtitle %}


{% block tab_navs %}
  {{ MACRO_MAKE_TAB("mdetail-events-tab", true, "Event Schedule") }}
  {{ MACRO_MAKE_TAB("mdetail-schools-tab", false, "Schools") }}
  {{ MACRO_MAKE_TAB("mdetail-athletes-tab", false, "Athletes") }}
  {{ MACRO_MAKE_TAB("mdetail-meetinfo-tab", false, "Meet Info") }}
{% endblock tab_navs %}


{# The expandable event cards that are on the accordions on   #}
{# MeetDetail > Schedule of events  #}
{% block tab_content %}

  {% call MACRO_MAKE_TAB_CONTENT(
      "mdetail-events-tab", true, 
      "/meets/event_accordion.html.j2") %}
  {% endcall %}


  {% call MACRO_MAKE_TAB_CONTENT("mdetail-schools-tab", false) %}

    <table id="meet-school-list" class="display" data-order='[[ 0, "asc" ]]' data-paging='false'>
      <thead>
        <tr>
          <th>School name</th>
          <th class="text-center">Number of athletes</th>
          <th class="text-center">Number of entries</th>
          <th class="text-center">Entry status</th>
        </tr>
      </thead>
      <tbody>
        {% for school in schools_entered %}
          <tr>
            <td>
              <a href="{{url_for('show_school_detail', school_id=school.id)}}">
                {{ school.name }}
              </a>
            </td>
            <td class="text-center">
              {{meet.get_athletes(school_id=school.id) | length }}
            </td>
            <td class="text-center">
              {{meet.get_school_entries(school_id=school.id) | length}}
            </td>
            <td class="text-center">
              
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endcall %}


  {% call MACRO_MAKE_TAB_CONTENT("mdetail-athletes-tab", false) %}
  {{ MACRO_ATHLETE_LIST(meet.get_athletes(), "meet-athlete-list")}}
  {% endcall %}


  {% call MACRO_MAKE_TAB_CONTENT("mdetail-meetinfo-tab", false) %}
    <div class="mb-4">
      <a href="{{url_for('show_edit_meet_form', meet_id=meet.id)}}">
        <button class="btn btn-primary">Edit Meet</button>
      </a>
    </div>
    <div class="row">
      <div class="col-md-6 card p-3">
        <h5>Order of Events</h5>
        <ol>
          {% for e_order in meet.event_orderings %}
            <li><strong>{{ e_order.event.name }}</strong>
              <ol>
                {% for d_order in meet.div_orderings %}
                  <li>{{ d_order.division.name }}</li>
                {% endfor %}
              </ol>
            </li>
          {% endfor %}
        </ol>
      </div>
      <div class="col-md-6">
        <div class="card p-3">
          <h5>Meet Info</h5>
          <strong>Name:</strong> {{ meet.name }}<br>
          <strong>Description:</strong> {{ meet.description }}<br>
          <strong>Date:</strong> {{ meet.date }}<br>
          <strong>Host School:</strong> {{ meet.host_school.name }}<br>
          <strong>Status:</strong> {{ meet.status }}<br>
          <strong>Manager users:</strong>
          {% if meet.manager_users %}
            <ul>
              {% for user in meet.manager_users %}
                <li>{{ user.email }}</li>
              {% endfor %}
            </ul>
          {% else %}
            No manager users
          {% endif %}
        </div>
        <div class="card p-3">
          <h5>Meet Rules</h5>
          <p>
            <em>
              <strong>Note: </strong>
              For each event, there is one "contest" per division. Eg: If 
              there are 2 divisions ("Girls" and "Boys", the High Jump event 
              has 2 contests, one for Girls and one for Boys.
            </em>
          </p>
          <p>
            <strong>Max number of events per athlete: </strong> 
            {{ meet.max_entries_per_athlete }}
          </p>
          <p>
            <strong>Max number of teammates per contest: </strong>
            {{ meet.max_teammates_per_event }}
          </p>
          <p>
            <strong>Meet-wide max number of heats per contest</strong>
            (can be overridden at contest level): {{ meet.max_heats_per_mde }}
          </p>

        </div>
        <div class="card p-3">
          <h5>Summary Statistics</h5>
          <strong>Assignments:</strong> TODO<br>
          <strong>Over-subscribed Meet-Divisions:</strong> TODO<br>
          <strong>Meet-Divisions with space:</strong> TODO<br>
          <strong>Unassigned athletes:</strong> TODO<br>
          <strong>Athletes with declined assignments:</strong> TODO<br>
        </div>
      </div>
    </div>
    <a href="{{url_for('show_edit_meet_form', meet_id=meet.id)}}">
      <button class="btn btn-primary">Edit Meet</button>
    </a>

  {% endcall %}

{% endblock tab_content %}


{% block my_javascripts %}
{{super()}}
<script type="text/javascript" src="/static/js/tms-datatable.js"></script>
{% endblock my_javascripts %}