{# Accept New Entries to Meet #}
{# 
<div class="input-group">
  <div class="custom-file">
    <input type="file" class="custom-file-input tms-file-upload" id="entryFileBrowse" aria-describedby="entryFileUploadButton" />
    <label class="custom-file-label" for="entryFileBrowse">Choose file</label>
  </div>
  <div class="input-group-append">
    <button class="btn btn-primary" type="button" id="entryFileUploadButton">
      Button
    </button>
</div> #}