{% extends "__base.html.j2" %}

{# The NAV BAR doesn't appear on the login or registration form pages #}
{% block navbar_optional %}
    {# Some spacing at top of page#}
    <div class="row mb-5">
    </div>
{% endblock navbar_optional %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-xl-6">
            <div class="card border-0">
                <div class="card-header bg-primary text-white">
                    <h2>TrackMeetSimplicity</h2>
                </div>
                <div class="card-body">
                    {% block ask_user_to %}
                        PLACEHOLDER DIRECTIONS
                    {% endblock ask_user_to %}

                    {% block post_route %}
                        <form action="{{ url_for('do_login') }}" method="POST">
                    {% endblock post_route %}  

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" id="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter your email" required>
                            <small id="emailHelp" class="form-text text-muted">
                                We\'ll never share your email with anyone else.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" class="form-control" name="password" placeholder="Password" required />
                        </div>

                        {% block get_school %}
                        {% endblock get_school %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form> 
                    <p>
                        {% block refer_user %}
                            PLACEHOLDER TO ASK USER IF NEED OTHER REG/LOGIN PAGE
                        {% endblock refer_user %}  
                    </p>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}  

{% block my_javascripts %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/login-register-pages.js"></script>
{% endblock my_javascripts %}