{% extends "__base.html.j2" %}
{% from "users/__macros_users.html.j2" import MACRO_GET_USER_SCHOOL with context %}

{% block content %}
    <h1>Edit User Profile&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;&nbsp;{{ session['user_email'] }}</h1>


    <h3>Update my profile:</h3>
    <form action="{{ url_for('do_change_profile') }}", method="POST" class="mb-5">
      <div class="form-group">
          <label for="email">Change my email to:</label>
          <input type="email" id="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter your email" value={{ session.user_email }}>
          <small id="emailHelp" class="form-text text-muted">
          </small>
      </div>
      {{ MACRO_GET_USER_SCHOOL("Change my school to:") }}
      <button type="submit" class="btn btn-primary btn-lg">
        <i class="fas fa-user-circle"></i>&nbsp;&nbsp;Update my Profile
      </button>
    </form>

    <h3>Change my password</h3>
    <form action="{{ url_for('do_change_password') }}", method="POST">
      <div class="form-group">
          <label for="password">Change my password to:</label>
          <input type="password" id="password" class="form-control" name="password" placeholder="Password" required />
      </div>
      <button type="submit" class="btn btn-primary btn-lg">
        <i class="fas fa-key"></i>&nbsp;&nbsp;Change my Password
      </button>
    </form>

{% endblock content %}

{% block my_javascripts %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/profile.js"></script>
{% endblock my_javascripts %}