{% extends "users/__login_reg_form.html.j2" %}

{% from "users/__macros_users.html.j2" import MACRO_GET_USER_SCHOOL with context %}

{% block ask_user_to %}
    <h1>Please sign up:</h1>
{% endblock ask_user_to %}

{% block post_route %}
    <form action="{{ url_for('do_register') }}" method="POST">
{% endblock %}

{% block get_school %}
    {{ MACRO_GET_USER_SCHOOL("Select your school: ") }}
{% endblock get_school %}
        
{% block refer_user %}
    Already have an account?&nbsp;
    <a href="{{ url_for('show_login_form') }}">Log in!</a>
{% endblock refer_user %}

