{% from "/meets/_macro_meet_list.html.j2" import MEET_LIST %}

{% if school.meets_entered() %}
    {% set meets = school.meets_entered() %}
    {{ MEET_LIST(meets, school, "All", "entered-meets-list") }}
{% else %}
    <p>{{school.name}} is not entered into any upcoming meets.</p>
{% endif %}

<a href="{{url_for('show_all_meets', status='Accepting Entries')}}">
    <button class="btn btn-success"><i class="fas fa-search"></i> Find More Meets to Enter </button>
</a>