{% extends "__secondary_nav.html.j2" %}
{% from "__macros.html.j2" import SHOW_MY_SCHOOL_INDICATOR %}


{% block myschool_indicator %}
  {{SHOW_MY_SCHOOL_INDICATOR(school)}}
{% endblock %}

{% block secondary_nav_title %}
    <div>Edit School&nbsp;&nbsp;
      <i class="fas fa-angle-double-right"></i>
      &nbsp;&nbsp;{{ school.name }}
    </div>
{% endblock secondary_nav_title %}


{% block nav2_subtitle %}
{% endblock nav2_subtitle %}


{% block content %}
  <div class="col-md-6">
    <form action="{{ url_for('do_edit_school_detail', school_id=school.id) }}" method="POST">
      
      <div class="form-group d">
        <label for="school_name">School Name:</label>
        <input type="text" class="form-control" name="school_name" id="school_name" placeholder="Enter name of school" value="{{ school.name }}" required>
      </div>
      <div class="form-group">
        <label for="school_code">School Code:</label>
        <input type="text" class="form-control" name="school_code" placeholder="" value="{{ school.code }}" required/>
      </div>
      <div class="row">
        <div class="form-group col-sm-7">
          <label for="League">League:</label>
          <input type="text" class="form-control" name="league" placeholder="Enter school's league" 
          {% if school.league %}value="{{ school.league }}"{% endif %}  />
        </div>
        <div class="form-group col-sm-5">
          <label for="section">Section:</label>
          <input type="text" class="form-control" name="section" placeholder="Enter school's competitive section" 
          {% if school.section %}value="{{ school.section }}"{% endif %}  />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-7">
          <label for="city">City:</label>
          <input type="text" class="form-control" name="city" placeholder="Enter school's city" 
          {% if school.city %}value="{{ school.city }}"{% endif %}  />
        </div>
        <div class="form-group col-sm-5">
          <label for="state">State:</label>
          <input type="text" class="form-control" name="state" placeholder="Enter school's state" 
          {% if school.state %}value="{{ school.state }}"{% endif %}  />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="{{ url_for('show_school_detail', school_id=school.id) }}">
        <button class="btn btn-secondary">Cancel</button>
      </a>
    </form>

  </div>

{% endblock %}