{% extends "__base.html.j2" %}
{% from "/schools/_macro_schools_list.html.j2" import MACRO_SCHOOL_LIST %}

{% block content %}
  <div class="row px-3">
    <h1 class="col-12">Schools</h1>

    <h4 class="col-12">Number of schools: {{ num_schools }}</h4>
  </div>
  <div class="row px-4">
    <div class="col-12">
      {{ MACRO_SCHOOL_LIST(schools, "all_schools_table")}}
    </div>
  </div>
{% endblock content %}


{% block my_javascripts %}
  {{ super() }}
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/tms-datatable.js')}}"></script>
{% endblock my_javascripts %}

