{% extends "__tabnav.html.j2" %}
{% from "__macros.html.j2" import MACRO_MAKE_TAB with context %}
{% from "__macros.html.j2" import MACRO_MAKE_TAB_CONTENT with context %}
{% from "__macros.html.j2" import SHOW_MY_SCHOOL_INDICATOR %}
{% from "/athletes/_macro_athlete_list.html.j2" import MACRO_ATHLETE_LIST with context %}


{% block myschool_indicator %}
  {{SHOW_MY_SCHOOL_INDICATOR(school)}}
{% endblock %}

{% block secondary_nav_title %}
  {{ school.name }}
{% endblock secondary_nav_title %}



{% block nav2_subtitle %}
  <div class="d-flex justify-content-md-between flex-wrap">
    <div>
      Code: {{ school.code }}
    </div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div>Divisions:
      {% for division in school.divisions | sort(attribute='code') %}
        {{ division.code }}
        {% if not loop.last %}, {% endif %}
      {% endfor %}
    </div>
  </div>
    <h6>
    <div class="d-sm-flex flex-row ">
      <div class="bg-secondary flex-fill p-3 text-center">{{ school.meets_entered() | length }} Meets Entered</div>
      <div class="bg-info flex-fill p-3 text-center">{{ school.meets_hosted | length }} Meets Hosted</div>
      <div class="bg-secondary flex-fill p-3 text-center">{{ school.athletes | length }} Athletes</div>
      <div class="bg-info flex-fill p-3 text-center">{{ school.divisions | length }} Divisions</div>
      <div class="bg-secondary flex-fill p-3 text-center">{{ school.entries | length }} Entries</div>
    </div>
  </h6>
  <div class="mb-5"></div>
{% endblock nav2_subtitle %}


{% block tab_navs %}
  {{ MACRO_MAKE_TAB("hosted-meets-tab", false, "Meets Hosted") }}
  {{ MACRO_MAKE_TAB("entered-meets-tab", true, "Meets Entered") }}
  {{ MACRO_MAKE_TAB("school-athletes-tab", false, "Athletes") }}
  {# {{ MACRO_MAKE_TAB("school-problems-tab", false, "Entry Problems") }} #}
  {{ MACRO_MAKE_TAB("school-info-tab", false, "School Info") }}
{% endblock tab_navs %}


{% block tab_content %}

  {% call MACRO_MAKE_TAB_CONTENT("hosted-meets-tab", false) %}
    {% include "/schools/_inc_hosted_meets.html.j2" %}
  {% endcall %}

  {% call MACRO_MAKE_TAB_CONTENT("entered-meets-tab", true) %}
    {% include "/schools/_inc_entered_meets.html.j2" %}
  {% endcall %}

  {% call MACRO_MAKE_TAB_CONTENT("school-athletes-tab", false) %}
    {{ MACRO_ATHLETE_LIST(school.athletes, "school-athletes-table") }} 
  {% endcall %}


  {% call MACRO_MAKE_TAB_CONTENT("school-problems-tab", false) %}
    <div class="mb-4">
      Problems with this school's entries are listed here, grouped by meet.
    </div>

    <div>
      <a href="#-NOT-IMPLEMENTED-YET">
        <button class="btn btn-primary">Resolve Issues</button>
      </a>
    </div>
  {% endcall %}


  {% call MACRO_MAKE_TAB_CONTENT("school-info-tab", false) %}
    <div>
      <p><strong>School Name:</strong> {{ school.name }}</p>
      <p><strong>School Code:</strong> {{ school.code }}</p>
      <p><strong>School ID#:</strong> {{ school.id }}</p>
      <p><strong>Location:</strong> 
      {% if school.city %}{{ school.city }}{% else %}no city set{% endif %}, 
      {% if school.state %}{{ school.state }}{% else %}no state set{% endif %}</p>
      <p><strong>League:</strong> 
      {% if school.league %}{{ school.league }}{% else %}no league set{% endif %}</p>
      <p><strong>Section:</strong>
      {% if school.section %}{{ school.section }}{% else %}no section set{% endif %}
      <br>
      <p>
        <strong>TrackMeetSimplicity users:</strong>
        {% if school.coaches %}
          <ul>
            {% for user in school.coaches %}
              <li>{{ user.email}}</li>
            {% endfor %}
          </ul>
        {% else %}
          No users
        {% endif %}
      </p>  
    </div>
    <div>
      <a href="{{url_for('show_edit_school_detail', school_id=school.id) }}">
        <button class="btn btn-primary btn-lg">
          <i class="fas fa-edit"></i>&nbsp;&nbsp;Edit School Info
        </button>
      </a>
    </div>
  {% endcall %}


{% endblock tab_content %}


{% block my_javascripts %}
  {{ super() }}

  <script type="text/javascript" src="/static/js/tms-datatable.js"></script>
{% endblock %}