{% extends "__tabnav.html.j2" %}
{% from "__macros.html.j2" import MACRO_MAKE_TAB with context %}
{% from "__macros.html.j2" import MACRO_MAKE_TAB_CONTENT with context %}
{% from "__macros.html.j2" import MACRO_SHOW_ADMIN_COG with context %}
{% from "__macros.html.j2" import SHOW_MY_SCHOOL_INDICATOR %}
{% from "/athletes/_macro_athlete_list.html.j2" import MACRO_ATHLETE_LIST with context %}


{% block myschool_indicator %}
  {{SHOW_MY_SCHOOL_INDICATOR(school)}}
{% endblock %}

{% block secondary_nav_title %}
  {{ school.name }}
{% endblock secondary_nav_title %}


{% block admin_cog %}
  {% if  school.code == session['user_school_name'] %}
    {{ MACRO_SHOW_ADMIN_COG(url_for('edit_school_info', school_id=school.id)) }}
  {% endif %}
{% endblock admin_cog %}>


{% block nav2_subtitle %}
  <div class="d-flex justify-content-md-between flex-wrap">
    <div>
      Code: {{ school.code }}
    </div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
    <div>Divisions:
      {% for division in school.divisions %}
        {{ division.code }},
      {% endfor %}
    </div>
  </div>
  <div class="d-flex justify-content-md-between flex-wrap">
    {{ school.athletes | length }} athletes<br>
    {{ school.divisions | length }} divisions<br>
    {{ school.entries | length }} entries<br>
    {{ school.meets_entered() | length }} meets entered<br>
    {{ school.meets_hosted | length }} meets hosted<br>
  </div>

{% endblock nav2_subtitle %}


{% block tab_navs %}
  {{ MACRO_MAKE_TAB("hosted-meets-tab", false, "Meets Hosted") }}
  {{ MACRO_MAKE_TAB("entered-meets-tab", true, "Meets Entered") }}
  {{ MACRO_MAKE_TAB("school-athletes-tab", false, "Athletes") }}
  {{ MACRO_MAKE_TAB("school-problems-tab", false, "Entry Problems") }}
  {{ MACRO_MAKE_TAB("school-past-meets-tab", false, "Past Meets") }}
  {{ MACRO_MAKE_TAB("school-info-tab", false, "School Info") }}
{% endblock tab_navs %}


{% block tab_content %}

  {% call MACRO_MAKE_TAB_CONTENT("hosted-meets-tab", false) %}
    {% include "/schools/_inc_hosted_meets.html.j2" %}
  {% endcall %}

  {% call MACRO_MAKE_TAB_CONTENT("entered-meets-tab", true) %}
    {% include "/schools/_inc_entered_meets.html.j2" %}
  {% endcall %}

  {% call MACRO_MAKE_TAB_CONTENT("school-athletes-tab", false) %}
{#     <h1>Athletes</h1> #}
    {{ MACRO_ATHLETE_LIST(school.athletes, "school-athletes-table" ) }} #}
  {% endcall %}


  {% call MACRO_MAKE_TAB_CONTENT("school-problems-tab", false) %}
    <div>
      Problems with this school's entries are listed here, grouped by meet.
    </div>

    <div>
      <a href="#-NOT-IMPLEMENTED-YET">
        <button class="btn btn-primary">Resolve Issues</button>
      </a>
    </div>
  {% endcall %}

  {% call MACRO_MAKE_TAB_CONTENT("school-past-meets-tab", false) %}
    TODO - Not implemented yet.
  {% endcall %}


  {% call MACRO_MAKE_TAB_CONTENT("school-info-tab", false) %}
    <div>
      School Name: {{ school.name }}<br>
      School Code: {{ school.code }}<br>
      School ID#: {{ school.id }}<br>
      Location: 
      {% if school.city %}{{ school.city }}{% else %}no city set{% endif %}, 
      {% if school.state %}{{ school.state }}{% else %}no state set{% endif %}<br>
      League: 
      {% if school.league %}{{ school.league }}{% else %}no league set{% endif %}<br>
      Section:
      {% if school.section %}{{ school.section }}{% else %}no section set{% endif %}
      <br>
      TrackMeetSimplicity users:<br>
      {% for user in school.coaches %}
        {{ user.email}}
      {% endfor %}
    </div>
    <div>
      <a href="{{url_for('show_edit_school_detail', school_id=school.id) }}">
        <button class="btn btn-primary">Edit School Info</button>
      </a>
    </div>
  {% endcall %}


{% endblock tab_content %}


{% block my_javascripts %}
  {{ super() }}

  <script type="text/javascript" src="/static/js/tms-datatable.js"></script>
{% endblock %}